*{
    margin: 0;
}
body{
    background-color: #FAF0E6;
}
#brand_name{
    grid-area: bn;
    color: #483C32;
    font-family: "Kadwa", serif;
    margin-top: 20px;
    margin-left: 16px;
}
#varukorg_name{
    margin-top: 30px;
    text-align: center;
}
#sparadeVarorCounter{
    display: none;
}
#searchWrapper{
    margin: 20px;
    padding: 20px;
    background-color: #00000044;
    outline: 2px dashed #000000;
    border-radius: 4px;
}
.searchOption{
    margin: 20px;
    margin-left: 0;
    width: 100%;
    height: 150px;
    border-radius: 4px;
    background-color: #fff6cb;
    background-image: url("/bilder/background.png");
    background-position: right;
    background-repeat: no-repeat;
    outline: 3px solid #000000;
    display: flex;
}
.origin{
    display: none;
}
.favoriteButton{
    position: absolute;
    left: 15;
    width: 40px;
    height: 40px;
}
.searchProductInfo{
    width: 100%;
}
.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    display: block;
}
.description{
    font-size: 20px;
    display: inline;
}
.cost{
 /* add something ffs */
}
.image{
    height: 150px;
    width: 150px;
    border-radius: 4px;
}
.searchProductInfo{
    padding: 4px;
}
#buy_button{
    position: absolute;
    bottom: 0;
}