*{
    margin: 0;
}
noscript{
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 700%;
    font-weight: 900;
    left: 0;
    animation: blinker 0.1s linear infinite;
}
@keyframes blinker {
    0% {
      background-color: red;
    }
    100%{
        background-color: green;
    }
}
a:hover{
    color: #00008b;
}
#brand_name{
    grid-area: bn;
    color: #483C32;
    font-family: "Kadwa", serif;
}
#sparadeVarorCounter{
    display: none;
}
#Shopping_Cart{
    grid-area: sc;
    margin-top: 30px;
    display: none;
}
#search_field_label{
    grid-area: sfw;
    display: none;
}
#search_field{
    grid-area: sf;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    outline: 2px solid #000000;
    font-family: 'Segoe UI', 'Arial Rounded MT Bold', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    height: 30px;
    width: 350px;
    z-index: 1000;
    position: relative;
    display: none;
}
#search_field::placeholder{
    color: #000000;
    opacity: 0.6;
}
#searchAnchor{
    position: relative;
    grid-area: sa;
}
#searchWrapper{
    position: absolute;
    display: none;
    flex-direction: column;
    border-radius: 8px;
    z-index: 100;
    background-color: white;
    padding: 16px;
    gap: 16px;
} 
.searchOption{
    width: 320px;
    height: 100px;
    border-radius: 4px;
    background-color: #fff6cb;
    outline: 3px solid #000000;
    display: none;
}
.origin{
    display: none;
}
.favoriteButton{
    position: absolute;
    left: 15;
    width: 40px;
    height: 40px;
}
.image{
    border-radius: 4px;
}
.searchProductInfo{
    padding: 4px;
}
#shadow{
    display: none;
    background: #000000;
    z-index: 99;
    opacity: 10%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
}
#product_wrapper1{
    grid-area: pw1;
}
#product_wrapper2{
    grid-area: pw2;
}
.product_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin-top: 20px;
}
a {
    text-decoration: none; 
    display: block; 
}

.product {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    outline: 3px solid #000000;
    margin-top: 3vw;
    transition: transform 0.3s ease; 
}

.product:hover {
    transform: scale(1.05); 
}

#buy_button{
    display: none;
}

.BoxesSearchOption{
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    flex: 1;
}

.BoxesImage{
    position: absolute;
    flex: 1;
    z-index: 1;
}

.BoxesFavoriteButton{
    z-index: 3;
    display: none;
    position: relative; 
}

.BoxesProductInfo{
    z-index: 2;
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    font-weight: 1000;
}

.BoxesName{
    font-size: x-large;
    display: inline;
}

body{
    background-color: #FAF0E6;
    display: grid;
    height: 90vh;
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 12% 3% 5% 1% 39.5% 39.5%;
    grid-template-areas: 
    "bn bn sc"
    "sfw sfw sfw"
    "sf sf sf"
    "sa sa sa"
    "pw1 pw1 pw1"
    "pw2 pw2 pw2"
    ;
}