* {
    margin: 0;
}

#brand_name {
    grid-area: bn;
    color: #483C32;
    font-family: "Kadwa", serif;
}

#search_field {
    grid-area: sf;
    background-color: #AC9E9E;
    color: #000000;
    font-family: 'Segoe UI', 'Arial Rounded MT Bold', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    height: 30px;
    width: 350px;
}

#product_wrapper1 {
    grid-area: pw1;
}

#product_wrapper2 {
    grid-area: pw2;
}

.product_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    margin-top: 20px;
}

.product {
    width: 20vw;
    height: 20vw;
    background-color: #D9D9D9;
    outline: 3px solid #000000;
    margin-top: 3vw;
}

body {
    background-color: #FAF0E6;
    display: grid;
    height: 150vh;
    width: 150vw;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 15% 35% 35%;
    grid-template-areas: "bn bn" "sf sf" "pw1 pw1" "pw2 pw2";
}